@using Training.MVC.Models
@model IEnumerable<Album>

@{
    ViewBag.Title = "List2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List2</h2>

<ul>
    @foreach (Album p in Model)
    {
        <li>@p.Title</li>
    }
</ul>
